<div class="row">
<div class="jumbotron">
  <div class="col-md-4 col-md-offset-1">
    <div class="panel">
      <h2>Welcome to Give!</h2>
      <p>Sign Up and start giving and receiving today. All transactions on Give are moneyless</p>
      <p><%= link_to "Sign up", signup_path ,class: "btn btn-primary btn-default"%></p>    
      </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="panel">
      <br>
      <p>Already have an account?</p>
      
          <%= form_tag sessions_path do %>
          <%= label_tag :email  %>
          <%= text_field_tag :email, params[:email]%>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
          <p><%= submit_tag "Sign in", class: "btn btn-warning btn-default" %></p>
          <% end %> 
      </div>
    </div>
  
  </div>
</div>




