<div class="container">
<div class="panel">
  <div class="row">
    <div class="col-md-4"><%= image_tag @item.item_pic.url(:medium) %></div>
    <div class="col-md-6">
        <h2><%= @item.name %></h2>
        in <b><%= @item.category.name %> </b>
        <br>
        <br>
        <%= @item.description %>
    </div>
    <div class="col-md-2">
        
        <br>
        <%= link_to 'add to wishlist', '' ,class: "btn btn-primary" %>
        <br>
        <br>
        <%= link_to 'contact giver', new_item_message_path(@item),class: "btn btn-primary" %>
        <br>
        <br>
        <% if signed_in? && current_user.id==@item.user_id %>

	    <%= link_to 'edit item', edit_item_path,class: "btn btn-warning" %>
        <% end %>
        </div>
    </div>
</div>

   